@import 'tailwindcss';
@tailwind utilities;

:root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

body {
  width: 100vw;
  min-height: 100vh;
  color: rgba(255, 255, 245, 0.86);
  background: #1b1b1f;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

@layer base {
  /* Define as dimensões gerais da barra */
  ::-webkit-scrollbar {
    width: 12px; /* Largura para scroll vertical */
    height: 12px; /* Altura para scroll horizontal */
    background-color: transparent;
  }

  /* O rastro/trilho (fundo onde a barra corre) */
  ::-webkit-scrollbar-track {
    background: #1f2937; /* ex: bg-gray-800 */
    border-radius: 8px;
  }

  /* A barra em si (o que você arrasta) */
  ::-webkit-scrollbar-thumb {
    background: #4b5563; /* ex: bg-gray-600 */
    border-radius: 8px;
    /* O border transparente cria um "padding" visual dentro do trilho */
    border: 3px solid #1f2937;
  }

  /* A cor da barra quando o mouse passa por cima */
  ::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* ex: bg-gray-500 */
  }
}
